div {
	/*border:1px solid black;*/
}
.new_record {
    float:right;
    margin: 10px;
}
.header {
    font-size: 14pt;
    text-align: left;
    padding: 10px;
}

#pages th, #pages td {
    text-align: center;
}

#delete_form {
    margin: 10px 0;
}

#users th, #users td {
    text-align: center;
}

iframe {
    border: 1px solid black;
}


.block {
    border: 1px solid black;
}

.block_header {
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid black;*/
}

.comment {
    /*border: 1px solid black;*/
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid black;
}

.author {
    font-weight: bold;
}

.post {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

.time {
    font-style: italic;
    text-align: right;
}

.text {
    font-size: 13pt;
    text-align: justify;
    word-wrap: break-word;
}

.sidebar {

}

.menu_link {
    list-style: none;
    font-size: 14pt;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    padding: 5px;
    color: #000;
}