div {
    /*border:1px solid black;*/
}
.logo {
    font-size: 15pt;
    text-align: center;
}
.sidebar {
    border:1px solid black;
    margin: 30px 0;
}
.head_menu {
    padding: 0;
}
.menu_link {
    list-style: none;
    width: 90%;
    padding: 5px 10px;
    margin: 5px ;
    border: 1px solid black;

}
.register_form {
    margin: 15px auto;
}

.error {
    color: red;
    list-style: none;
}

.login_form {

}

.posts {
    margin: 30px 0;
}

.post {
    /*border: 1px solid black;*/
    padding: 10px;
    background-color: #EEE;
    /*border-radius: 10px;*/
    margin-bottom: 15px;
    word-wrap: break-word;
}
.post::after {
    clear: both;
    display: block;
    content: "";
}

.header {
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
}

.content {
    padding: 15px;
}

.preview {

}
.preview img {
    width: 150px;
}

.date {
    font-style: italic;
    /*text-align: right;*/
}

.more {
    text-align: center;
}

.links {

}

.post_content {
    margin: 30px 10px;
}

#new_comment {
    margin: 15px 0;
}
#new_comment .btn {
    margin: 10px;
}
#new_comment input {
    height: 100px;
}
#new_comment textarea {
    resize: none;
}

.comment {
    border: 1px solid black;
    margin: 5px 0;
}

.comment .author {
    font-weight: bold;
    margin: 10px 0;
}

.comment .time {
    font-style: italic;
    margin: 10px 0;
    text-align: right;
}

.comment .text {
    padding: 10px;
    border-top: 1px solid black;
}